
.icon-alarm-outline:before { content: '\e800'; } /* '' */
.icon-alarm:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-barcode:before { content: '\e803'; } /* '' */
.icon-billing:before { content: '\e804'; } /* '' */
.icon-bookmark:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-cancel-circle:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cash:before { content: '\e809'; } /* '' */
.icon-checked-circle:before { content: '\e80a'; } /* '' */
.icon-checked:before { content: '\e80b'; } /* '' */
.icon-clear-circle:before { content: '\e80c'; } /* '' */
.icon-clear:before { content: '\e80d'; } /* '' */
.icon-datepicker:before { content: '\e80e'; } /* '' */
.icon-down:before { content: '\e80f'; } /* '' */
.icon-heart-outline:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-menu-active-delivery:before { content: '\e815'; } /* '' */
.icon-menu-assignment:before { content: '\e816'; } /* '' */
.icon-menu-faq:before { content: '\e817'; } /* '' */
.icon-menu-history:before { content: '\e818'; } /* '' */
.icon-menu-news:before { content: '\e819'; } /* '' */
.icon-menu-setting:before { content: '\e81a'; } /* '' */
.icon-next:before { content: '\e81b'; } /* '' */
.icon-office:before { content: '\e81c'; } /* '' */
.icon-parcel-dropoff-circle:before { content: '\e81d'; } /* '' */
.icon-parcel-dropoff:before { content: '\e81e'; } /* '' */
.icon-parcel-pickup-circle:before { content: '\e81f'; } /* '' */
.icon-parcel-pickup:before { content: '\e820'; } /* '' */
.icon-parcel:before { content: '\e821'; } /* '' */
.icon-pencil-edit:before { content: '\e822'; } /* '' */
.icon-people:before { content: '\e823'; } /* '' */
.icon-phone-circle-outline:before { content: '\e824'; } /* '' */
.icon-phone-circle:before { content: '\e825'; } /* '' */
.icon-phone:before { content: '\e826'; } /* '' */
.icon-pin-floor:before { content: '\e827'; } /* '' */
.icon-pin:before { content: '\e828'; } /* '' */
.icon-reorder:before { content: '\e829'; } /* '' */
.icon-retry:before { content: '\e82a'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-sendit-rocket:before { content: '\e82c'; } /* '' */
.icon-service-cash-on-delivery:before { content: '\e82d'; } /* '' */
.icon-service-document-processing:before { content: '\e82e'; } /* '' */
.icon-service-hot-food:before { content: '\e82f'; } /* '' */
.icon-service-insurrance:before { content: '\e830'; } /* '' */
.icon-service-mailing:before { content: '\e831'; } /* '' */
.icon-service-photo-id:before { content: '\e832'; } /* '' */
.icon-service-purchase:before { content: '\e833'; } /* '' */
.icon-service-return-route:before { content: '\e834'; } /* '' */
.icon-shopping-bag-opened:before { content: '\e835'; } /* '' */
.icon-shopping-bag:before { content: '\e836'; } /* '' */
.icon-statistic:before { content: '\e837'; } /* '' */
.icon-up:before { content: '\e838'; } /* '' */
.icon-vehicle-moto:before { content: '\e839'; } /* '' */
.icon-vehicle-truck:before { content: '\e83a'; } /* '' */
.icon-vehicle-van:before { content: '\e83b'; } /* '' */