
.icon-icon-pin-floor:before { content: '\e800'; } /* '' */
.icon-icon-heart-outline:before { content: '\e801'; } /* '' */
.icon-icon-search:before { content: '\e802'; } /* '' */
.icon-icon-phone:before { content: '\e803'; } /* '' */
.icon-icon-heart:before { content: '\e804'; } /* '' */
.icon-icon-vehicle-moto:before { content: '\e805'; } /* '' */
.icon-icon-vehicle-truck:before { content: '\e806'; } /* '' */
.icon-icon-pin:before { content: '\e807'; } /* '' */
.icon-icon-vehicle-van:before { content: '\e808'; } /* '' */
.icon-icon-checked:before { content: '\e809'; } /* '' */
.icon-icon-cross:before { content: '\e80a'; } /* '' */