@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.eot?xpmwff')
  src url(icomoon-font-path + '/icomoon.eot?xpmwff#iefix') format('embedded-opentype'), url(icomoon-font-path + '/icomoon.ttf?xpmwff') format('truetype'), url(icomoon-font-path + '/icomoon.woff?xpmwff') format('woff'), url(icomoon-font-path + '/icomoon.svg?xpmwff#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-icon-muliticase
  &:before
    content icon-icon-muliticase
.icon-parcel-courier
  &:before
    content icon-parcel-courier
.icon-parcel-courier-circle
  &:before
    content icon-parcel-courier-circle
.icon-icon-muliticase-circle
  &:before
    content icon-icon-muliticase-circle
.icon-deliveing-courier
  &:before
    content icon-deliveing-courier
.icon-return
  &:before
    content icon-return
.icon-icon-menu-hamburger
  &:before
    content icon-icon-menu-hamburger
.icon-more-options
  &:before
    content icon-more-options
.icon-power-off
  &:before
    content icon-power-off
.icon-triangly-left
  &:before
    content icon-triangly-left
.icon-triangly-right
  &:before
    content icon-triangly-right
.icon-blank-circle
  &:before
    content icon-blank-circle
.icon-blank
  &:before
    content icon-blank
.icon-location-dropoff
  &:before
    content icon-location-dropoff
.icon-location-pickup
  &:before
    content icon-location-pickup
.icon-less
  &:before
    content icon-less
.icon-more
  &:before
    content icon-more
.icon-schedule-circle
  &:before
    content icon-schedule-circle
.icon-story-cashondemand-circle
  &:before
    content icon-story-cashondemand-circle
.icon-story-cashondemand
  &:before
    content icon-story-cashondemand
.icon-alarm-outline
  &:before
    content icon-alarm-outline
.icon-alarm
  &:before
    content icon-alarm
.icon-back
  &:before
    content icon-back
.icon-barcode
  &:before
    content icon-barcode
.icon-billing
  &:before
    content icon-billing
.icon-bookmark
  &:before
    content icon-bookmark
.icon-camera
  &:before
    content icon-camera
.icon-cancel-circle
  &:before
    content icon-cancel-circle
.icon-cancel
  &:before
    content icon-cancel
.icon-cash
  &:before
    content icon-cash
.icon-checked-circle
  &:before
    content icon-checked-circle
.icon-checked
  &:before
    content icon-checked
.icon-clear-circle
  &:before
    content icon-clear-circle
.icon-clear
  &:before
    content icon-clear
.icon-datepicker
  &:before
    content icon-datepicker
.icon-down
  &:before
    content icon-down
.icon-heart-outline
  &:before
    content icon-heart-outline
.icon-heart
  &:before
    content icon-heart
.icon-home
  &:before
    content icon-home
.icon-link
  &:before
    content icon-link
.icon-location
  &:before
    content icon-location
.icon-lock
  &:before
    content icon-lock
.icon-menu-active-delivery
  &:before
    content icon-menu-active-delivery
.icon-menu-assignment
  &:before
    content icon-menu-assignment
.icon-menu-faq
  &:before
    content icon-menu-faq
.icon-menu-history
  &:before
    content icon-menu-history
.icon-menu-news
  &:before
    content icon-menu-news
.icon-menu-setting
  &:before
    content icon-menu-setting
.icon-move-left-right
  &:before
    content icon-move-left-right
.icon-move-up-down
  &:before
    content icon-move-up-down
.icon-move
  &:before
    content icon-move
.icon-office
  &:before
    content icon-office
.icon-parcel-dropoff-circle
  &:before
    content icon-parcel-dropoff-circle
.icon-parcel-dropoff
  &:before
    content icon-parcel-dropoff
.icon-parcel-pickup-circle
  &:before
    content icon-parcel-pickup-circle
.icon-parcel-pickup
  &:before
    content icon-parcel-pickup
.icon-parcel
  &:before
    content icon-parcel
.icon-pencil-edit
  &:before
    content icon-pencil-edit
.icon-people
  &:before
    content icon-people
.icon-phone-cc
  &:before
    content icon-phone-cc
.icon-phone-circle-outline
  &:before
    content icon-phone-circle-outline
.icon-phone-circle
  &:before
    content icon-phone-circle
.icon-phone
  &:before
    content icon-phone
.icon-pin-floor
  &:before
    content icon-pin-floor
.icon-pin
  &:before
    content icon-pin
.icon-reorder
  &:before
    content icon-reorder
.icon-retry
  &:before
    content icon-retry
.icon-right
  &:before
    content icon-right
.icon-search
  &:before
    content icon-search
.icon-sendit-rocket
  &:before
    content icon-sendit-rocket
.icon-service-cash-on-delivery
  &:before
    content icon-service-cash-on-delivery
.icon-service-document-processing
  &:before
    content icon-service-document-processing
.icon-service-hot-food
  &:before
    content icon-service-hot-food
.icon-service-insurrance
  &:before
    content icon-service-insurrance
.icon-service-mailing
  &:before
    content icon-service-mailing
.icon-service-photo-id
  &:before
    content icon-service-photo-id
.icon-service-purchase
  &:before
    content icon-service-purchase
.icon-service-return-route
  &:before
    content icon-service-return-route
.icon-shopping-bag-opened
  &:before
    content icon-shopping-bag-opened
.icon-shopping-bag
  &:before
    content icon-shopping-bag
.icon-statistic
  &:before
    content icon-statistic
.icon-traffic
  &:before
    content icon-traffic
.icon-up
  &:before
    content icon-up
.icon-vehicle-moto
  &:before
    content icon-vehicle-moto
.icon-vehicle-truck
  &:before
    content icon-vehicle-truck
.icon-vehicle-van
  &:before
    content icon-vehicle-van
.icon-trash
  &:before
    content icon-trash
.icon-keyboard
  &:before
    content icon-keyboard
.icon-qrcode
  &:before
    content icon-qrcode
.icon-save
  &:before
    content icon-save
.icon-star-empty
  &:before
    content icon-star-empty
.icon-star-full
  &:before
    content icon-star-full

